<div class="chat-container">
  <div class="chat-header">
    <div class="chat-header-img"></div>
    <div class="chat-header-desc">
      <h3 class="chat-header-name">{{friendUserName}}</h3>
      <p class="chat-header-status" [style.color]="isOnline ? '#27AE60' : 'gray'">{{isOnline ? 'Online' : 'Offline'}}</p>
    </div>
  </div>
  <div class="chat-messages-wrapper" >
    <div class="chat-messages-container" #messagesContainer>
    <div class="chat-message-container" *ngFor="let message of chatMessages" >
      <div class="chat-message"
           [style.right]="currentUser?.id === message.senderId ? '20px' : 'none'"
           [style.background-color]="currentUser?.id === message.senderId ? '#D7FCD2' : ''">
        <p>{{ message.content }}</p>
        <div class="chat-message-metadata"
             [style.flex-direction]="currentUser?.id === message.senderId ? 'flex-end' : ''">
          <p>15:42</p>
        </div>
      </div>
    </div>
    <div #messagesEnd></div>
    </div>
  </div>
  <div class="chat-footer">
    <input type="text" placeholder="Type you message here..." [(ngModel)]="message">
    <button class="send-message" (click)="sendMessage()">Send message</button>
  </div>
</div>
