.chat-container {
  display: grid;
  grid-template-rows: 76px auto 70px;
  height: 100%;
  max-height: 100dvh;
}

.chat-header {
  width: auto;
  height: 76px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  grid-row: 1 / 2;
}

.chat-header-img {
  height: 64px;
  width: 64px;
  background-color: rgb(128, 128, 128);
  border-radius: 50px;
  border: 2px solid white;
}

.chat-header-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-header-desc > p {
  font-weight: bold;
  font-size: 14px;
  color: #27AE60;
}

.chat-messages-wrapper {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-messages-container-empty-message {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow-y: auto;
  padding: 20px 0;
}

.chat-message-container {
  min-height: max-content;
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
}

.chat-message {
  position: relative;
  min-width: 30%;
  max-width: 60%;
  background-color: #F4F4F7;
  border-radius: 16px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-message.sent {
  background-color: #D7FCD2;
  margin-left: auto;
}

.chat-message-metadata {
  display: flex;
  width: auto;
}

.chat-message-metadata > p {
  font-size: 12px;
  width: max-content;
  color: #858484;
}

.chat-form {
  width: auto;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  grid-row: 3 / 4;
}

.chat-form > input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.chat-form > button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #27AE60;
  min-width: 80px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.1s ease;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-form > button:hover {
  background-color: #c2c1c1;
}

.chat-form > button:active {
  background-color: #333333;
  color: #D6D6D6;
}

.today-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.today-separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgb(128, 128, 128);
  margin: 0 10px;
}

.today-separator span {
  white-space: nowrap;
  color: rgb(128, 128, 128);
  font-weight: bold;
  background-color: #D3D3D3;
}

.send-loader {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.send-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #27AE60;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media (max-width: 1024px) {

  .chat-header-desc > p {
    font-size: 13px;
  }

  .chat-header-desc > h3 {
    font-size: 17px;
  }

  .chat-header-img {
    height: 58px;
    width: 58px;
  }

  .chat-messages-container-empty-message > h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {

  .chat-container {
    grid-template-rows: 70px auto 64px;
    max-height: calc(100dvh - 64px);
  }

  .chat-header {
    height: 70px;
  }

  .chat-header-img {
    height: 54px;
    width: 54px;
  }

  .chat-form {
    width: auto;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    grid-row: 3 / 4;
  }

  .chat-form > button {
    min-width: 60px;
    font-size: 14px;
  }

  .today-separator {
    margin: 8px 0;
  }

  .today-separator > span{
    font-size: 14px;
  }

  .chat-message {
    padding: 10px 16px;
  }

  .chat-message > p {
    font-size: 14px;
  }

  .chat-message-metadata > p {
    font-size: 10px;
  }

  .chat-messages-container-empty-message > h1 {
    font-size: 24px;
  }

  .send-loader {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 425px) {

  .chat-header-desc > p {
    font-size: 12px;
  }

  .chat-header-desc > h3 {
    font-size: 16px;
  }

  .chat-header-img {
    height: 50px;
    width: 50px;
  }

  .chat-messages-container-empty-message > h1 {
    font-size: 20px;
  }

  .send-loader {
    width: 28px;
    height: 28px;
  }
}
