.chat-container {
  display: grid;
  grid-template-rows: 76px auto 70px;
  height: 100%;
  max-height: 100dvh;
}

.chat-header {
  width: auto;
  height: 76px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  grid-row: 1 / 2;
}

.chat-header-img {
  height: 64px;
  width: 64px;
  background-color: rgb(128, 128, 128);
  border-radius: 50px;
}

.chat-header-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-header-desc > p {
  font-weight: bold;
  font-size: 14px;
  color: #27AE60;
}

.chat-messages-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow-y: auto;
  padding: 60px 0;
}

.chat-message-container {
  min-height: max-content;
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
}

.chat-message {
  position: relative;
  min-width: 30%;
  max-width: 60%;
  background-color: #F4F4F7;
  border-radius: 16px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-message.sent {
  background-color: #D7FCD2;
  margin-left: auto;
}

.chat-message-metadata {
  display: flex;
  width: auto;
}

.chat-message-metadata > p {
  font-size: 12px;
  width: max-content;
  color: #858484;
}

.chat-footer {
  width: auto;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  grid-row: 3 / 4;
}

.chat-footer > input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.chat-footer > button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #27AE60;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.chat-footer > button:hover {
  background-color: #c2c1c1;
}

.chat-footer > button:active {
  background-color: #333333;
  color: #D6D6D6;
}

.today-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.today-separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgb(128, 128, 128);
  margin: 0 10px;
}

.today-separator span {
  white-space: nowrap;
  color: rgb(128, 128, 128);
  font-weight: bold;
  background-color: #D3D3D3;
}


