<div class="request-card">
  <div class="request-card-info">
    <div class="request-card-img" [style.background-color]="request.sender.avatar ? request.sender.avatar : '#D6D6D6'"></div>
    <p class="request-card-name">{{request.sender.connectionUsername}}</p>
  </div>
  <div class="request-card-actions">
    <span class="request-card-accept" (click)="acceptRequest()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22.903" height="19.395" fill="white">
        <path d="M22.903 2.828 20.075 0 6.641 13.435 3.102 9.09 0 11.616l6.338 7.779L22.903 2.828z"/></svg>
    </span>
    <span class="request-card-decline" (click)="declineRequest()">
      <svg xmlns="http://www.w3.org/2000/svg" width="17.828" height="17.828" fill="white">
        <path d="m2.828 17.828 6.086-6.086L15 17.828 17.828 15l-6.086-6.086 6.086-6.086L15 0 8.914 6.086 2.828 0 0 2.828l6.085 6.086L0 15l2.828 2.828z"/></svg>
    </span>
  </div>
</div>
