.request-card {
  position: relative;
  min-height: 50px;
  width: auto;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.request-card-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.request-card-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #858484;
  border: 2px solid white;
}

.request-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.request-card-actions > span {
  position: relative;
  border-radius: 50px;
  padding: 5px 8px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.request-card-actions > span.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  animation: fade 1s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.request-card-actions > span.loading {
  pointer-events: none;
}

.request-card-accept {
  background-color: #27AE60;
}

.request-card-decline {
  background-color: #b73333;
}

@media (max-width: 1024px) {
  .request-card-img {
    width: 40px;
    height: 40px;
  }

  .request-card-actions {
    gap: 3px;
  }

  .request-card-actions > span{
    transform: scale(0.90);
  }
}


@media (max-width: 768px) {

  .request-card-actions {
    gap: 1px;
  }

  .request-card-actions > span{
    transform: scale(0.80);
  }
}


@media (max-width: 425px) {

}





