.search-contact-form {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 10px;
}

.search-contact-form > button {
  min-width: 80px;
  height: 58px;
  padding: 4px 8px;
  background-color: #27AE60;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.search-contact-form > button:hover {
  background-color: #0b341b;
}

hr {
  margin: 20px 0;
  border: 1px solid rgb(128, 128, 128);
  width: 50%;
}

.contact-list {
  width: 80%;
  height: 300px;
  max-height: 600px;
  background-color: #27AE60;
}
