<div class="login-container">
  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <h1>Login</h1>
      <h2>to get started</h2>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <small>{{ errorMessage }}</small>
    </div>

    <div>
      <input id="username" formControlName="username" type="text" placeholder="Username" />
      <div *ngIf="submitted && loginForm.controls['username'].errors">
        <small *ngIf="loginForm.controls['username'].errors?.['required']" class="error-message">
          Username is required
        </small>
      </div>
      <div *ngIf="usernameErrorMessage" class="error-message">
        <small>{{ usernameErrorMessage }}</small>
      </div>
    </div>

    <div>
      <input id="password" formControlName="password" type="password" placeholder="Password" />
      <div *ngIf="submitted && loginForm.controls['password'].errors">
        <small *ngIf="loginForm.controls['password'].errors?.['required']" class="error-message">
          Password is required
        </small>
      </div>
      <div *ngIf="passwordErrorMessage" class="error-message">
        <small>{{ passwordErrorMessage }}</small>
      </div>
    </div>

    <button type="submit" [disabled]="loading">Login
      <span class="button-loader" *ngIf="loading"></span>
    </button>

    <p> New User? <span (click)="navigateToRegister()"> Register </span> </p>
  </form>

</div>
