<div class="messenger-wrapper">
  <div class="contacts-wrapper">
    <form class="contacts-header" (ngSubmit)="searchFriends()">
      <h1>Messages</h1>
      <input type="text" placeholder="Search">
      <p>Sort by <span>Newest</span></p>
    </form>

    <div class="contacts-container">
      <div class="contacts-tab">
        <button class="tab-button"
                [ngClass]="{'active': selectedTab === 'friends'}"
                (click)="selectTab('friends')">Friends
          <span class="notifications" *ngIf="unseenMessagesCount > 0">
            {{ unseenMessagesCount }}
          </span>

          <span *ngIf="unseenMessagesCount === 0">
            <span class="notifications notification-count" *ngIf="awaitingUnseenMessagesCount > 0">
              {{ awaitingUnseenMessagesCount }}
            </span>
          </span>
        </button>
        <button class="tab-button"
                [ngClass]="{'active': selectedTab === 'requests'}"
                (click)="selectTab('requests')">Requests
          <span class="notifications" *ngIf="unseenRequestsCount > 0">
            {{ unseenRequestsCount }}
          </span>

          <span *ngIf="unseenRequestsCount === 0">
            <span class="notifications notification-count" *ngIf="requestsList.length > 0">
              {{ requestsList.length }}
            </span>
          </span>
        </button>
      </div>

      <app-friends-list class="contacts-content" *ngIf="selectedTab === 'friends'"
                        [selectedFriend]="selectedFriend"
                        [friendsList]="friendsList"
                        (handleSelectedFriend)="handleSelectedFriend($event)"></app-friends-list>

      <app-requests-list class="requests-tab-container" *ngIf="selectedTab === 'requests'"
                         [requestsList]="requestsList"
                         (updateRequests)="handleUpdateAwaitingRequest($event)"></app-requests-list>

    </div>
  </div>

  <app-chat class="chat-wrapper" [selectedFriend]="selectedFriend" (friendChanged)="friendSeenCounterUpdate($event)"></app-chat>
</div>
