<div class="messenger-wrapper">
  <div class="contacts-wrapper">
    <div class="contacts-header">
      <h1>Messages</h1>
      <input type="text" placeholder="Search">
      <p>Sort by <span>Newest</span></p>
    </div>
    <div class="contacts-container">
      <div class="contacts-content">
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
        <div class="contact"></div>
      </div>
    </div>
  </div>
  <div class="chat-wrapper"></div>
</div>
