.contact-img-container {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  background-color: #D6D6D6;
  border: 2px solid white;
}

.contact-status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 2px solid white;
  bottom: 0;
  right: 2px;
}

.contact-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.contact-description > h4{
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-description > p{
  color: rgb(128, 128, 128);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.contact-date {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 13px;
}
.contact-seen {
  position: absolute;
  bottom: -2px;
  right: 10px;
  font-size: 13px;
}

.messages-seen {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D6D6D6;
  right: 0;
  bottom: 6px;
  background-color: #27AE60;
}

@media (max-width: 1024px) {
  .contact-img-container {
    min-width: 40px;
    min-height: 40px;
  }

  .contact-status {
    border: 1px solid white;
  }

  .contact-description > p{
    font-size: 14px
  }

  .contact-date {
    right: 8px;
    font-size: 11px;
  }
  .contact-seen {
    font-size: 11px;
  }

  .messages-seen {
    height: 14px;
    width: 14px;
  }
}


@media (max-width: 768px) {

}


@media (max-width: 425px) {

}
