* {
  margin: 0;
  padding: 0;
  font-family: "Segoe Print", sans-serif;
}

input {
  width: 100%;
  min-width: 80px;
  height: 58px;
  padding: 4px 8px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

input:focus {
  outline: none;
}

.auth-form > button {
  width: 90%;
  min-width: 80px;
  height: 58px;
  padding: 4px 8px;
  background-color: #27AE60;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.auth-form > button:hover {
  background-color: #0b341b;
}

.auth-form {
  width: 438px;
  height: max-content;
  margin: auto;
  border-radius: 26px;
  border: 1px solid #D6D6D6;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.auth-form > div {
  width: 90%;
}

.auth-form > p > span {
  cursor: pointer;
  color: #333333;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.auth-form > p > span:hover {
  transform: translateY(5px);
}

.error-message {
  color: red;
}

.notifications {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D6D6D6;
  right: 6px;
  bottom: 9px;
  background-color: #b73333;
}
