* {
  margin: 0;
  padding: 0;
  font-family: "Segoe Print", sans-serif;
}

input {
  width: 100%;
  min-width: 80px;
  height: 58px;
  padding: 4px 8px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

input:focus {
  outline: none;
}

.auth-form > button {
  width: 90%;
  min-width: 80px;
  height: 58px;
  padding: 4px 8px;
  background-color: #27AE60;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form > button:hover {
  background-color: #0b341b;
}

.auth-form {
  width: 438px;
  height: max-content;
  margin: auto;
  border-radius: 26px;
  border: 1px solid #D6D6D6;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.auth-form > div {
  width: 90%;
}

.auth-form > p > span {
  cursor: pointer;
  color: #333333;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.auth-form > p > span:hover {
  transform: translateY(5px);
}

.error-message {
  color: red;
}

.notifications {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D6D6D6;
  right: 6px;
  bottom: 9px;
  background-color: #b73333;
}

button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  appearance: none;
}

.button-loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
  right: 5px;
}
.button-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
  top: 5px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #ECECEC;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #27AE60;
}

.custom-toast {
  background-color: #27AE60;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

@media (max-width: 1024px) {
  input {
    min-width: 60px;
    height: 48px;
    font-size: 14px;
  }

  .auth-form > button {
    min-width: 60px;
    height: 58px;
  }

  .auth-form > div > h1 {
    font-size: 26px;
  }

  .auth-form > div > h2 {
    font-size: 24px;
  }

  .auth-form > p{
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  input {
    min-width: 50px;
    font-size: 14px;
  }

  .auth-form > button {
    min-width: 50px;
    height: 58px;
  }

  .auth-form {
    width: 338px;
    padding: 25px 10px;
    gap: 20px;
  }

  .auth-form > div > h1 {
    font-size: 24px;
  }

  .auth-form > div > h2 {
    font-size: 22px;
  }

  .button-loader {
    width: 36px;
    height: 36px;
  }

  .loader {
    width: 42px;
    height: 42px;
  }
}


@media (max-width: 425px) {
  input {
    font-size: 13px;
  }

  .auth-form > button {
    height: 48px;
  }

  .auth-form {
    width: 238px;
    padding: 20px 10px;
    gap: 15px;
  }

  .auth-form > div > h1 {
    font-size: 24px;
  }

  .auth-form > div > h2 {
    font-size: 22px;
  }

  .auth-form > p{
    font-size: 13px;
  }

  .button-loader {
    width: 30px;
    height: 30px;
  }

  .loader {
    width: 38px;
    height: 38px;
  }
}
